.active {
	color: #fff;
}

/* Manage */
#blocks_container iframe {
	border: 0;
	width: 100%;
}
#blocks_container .block_name {
	background: #ddd;
	color: #666;
	padding: 4px 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#blocks_container .block_wrap {
	border: 1px solid #ddd;
	margin: 0 0 10px 0;
	position: relative;
}
#blocks_container .block_controls {
	position: absolute;
	right: 0;
	top: 6px;
}
#blocks_container .block_controls a {
	margin: 0 6px;
}

/* Edit Block */
#css_ace {
	border-radius: 4px;
	height: 200px;
}
#code_ace {
	border-radius: 4px;
	height: 300px;
}

/* Footer */
.footer {
	text-align: center;
	font-size: 0.9em;
	color: #ddd;
	padding: 40px 0;
}

