.active {
	color: #fff;
}

/* Manage */
#blocks_container iframe {
	border: 0;
	width: 100%;
	height: 100px;
	overflow: hidden;
}
#blocks_container .block_name {
	background: #eee;
	color: #666;
	padding: 4px 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-top: 10px;
}
#blocks_container .block_wrap {
	border: 1px solid #eee;
	position: relative;
}
#blocks_container .block_controls {
	position: absolute;
	right: 0;
	top: 6px;
}
#blocks_container .block_controls a {
	margin: 0 6px;
}

/* Edit Block */
#css_ace {
	border-radius: 4px;
	height: 200px;
}
#code_ace {
	border-radius: 4px;
	height: 300px;
}
#filelist {
	color: #666;
	font-size: 0.9em;
	padding-bottom: 10px;
}
.progress_wrap {
	margin: 2px 0 6px 0;
	height: 4px;
	background: #eee;
}
.progress_bar {
	display: block;
	height: 4px;
	background: #52b7f2;
}

/* Edit Categories */
.category_box {
	padding: 6px 10px;
	font-size: 1.1em;
	border: 1px solid #eee;
	margin-bottom: 8px;
	border-radius: 4px;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.category_box span {
	position: relative;
	top: 4px;
}
.category_box:hover {
	background: #eee;
}
.category_controls {
	float: right;
}

/* Edit Brands */
.brand_box {
	padding: 6px 10px;
	font-size: 1.1em;
	border: 1px solid #eee;
	margin-bottom: 8px;
	border-radius: 4px;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.brand_box span {
	position: relative;
	top: 4px;
}
.brand_box:hover {
	background: #eee;
}
.brand_controls {
	float: right;
}

/* Footer */
.footer {
	text-align: center;
	font-size: 0.9em;
	color: #ddd;
	padding: 40px 0;
}

